body {
  background: lightskyblue;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background: white;
  display: flex;
  border-radius: 30px;
  width: 50%;
  margin: auto;
}

.input {
  background: rgb(244, 245, 246);
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.form {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
input {
  border-radius: 50px;
  height: 30px;
  border: none;
  padding: 0;
  padding-left: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 50px;
  border-top-left-radius: 0;
  background: rgb(227, 217, 217);
  border-bottom-left-radius: 0;
}

.form button:hover {
  background: rgb(211, 207, 207);
  cursor: pointer;
}

.todo {
  background: white;
  height: 100%;
  padding-right: 15px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.list {
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: space-between;
  width: 100%;

} 

.list li p:hover {
  cursor: pointer;
}

.checked {
  text-decoration: line-through !important;
}

.delete {
  width: 20px;
}

.delete:hover {
  opacity: 80%;
  cursor: pointer;
}
